body{
    color: #5A6169;
}
.primary-bg{
    background-color: #17C671;
}
.primary-color{
    color:#17C671;
}
.text-bold{
    font-weight: bold;
}
.text-lighter{
    font-weight: lighter;
}
.text-blue{
    color:#333333;
}
.pointer{
    cursor:pointer;
}
.heading h1{
    font-size: 5rem;
    line-height: 0.9;
}
#main-content{
    background-color: #E9ECEF;
    margin: 5rem 0 0 0;
    padding: 1.5rem 0 4rem 0;
    min-height: 55vh;
}
.btn-primary, .btn-primary:hover .btn-primary:focus, .btn-primary:active{
    background-color: #17C671!important;
    border-color: #17C671!important;
    padding: 0.5rem 2rem 0.5rem 2rem;

}

.btn-secondary, .btn-secondary:hover .btn-secondary:focus, .btn-secondary:active{
    background-color: #fff!important;
    border-color: #fff!important;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: #5A6169!important;

}

.btn-danger, .btn-danger:hover .btn-danger:focus, .btn-danger:active{
    background-color: #C4183C!important;
    border-color: #C4183C!important; 
    font-weight: 400!important;

}

.full-width{
    width:100%;
}

.logo_img_small > img{
    width: 3.5rem;
}
.heading_small{
    margin-left: -2.2rem;
}

.card{
    border-radius: .6rem;
    border:none;
}
.card-header{
    border-radius: .6rem .6rem 0 0!important;
    border:none;
    color: #fff;
    text-align: center;
}
.card-body{
    padding-bottom: 0px;
    height: 148px;
    overflow: auto;
}
.card-footer{
    border-top: none;
    background: #fff;
    border-radius: .6rem!important;
}

#footer{
	text-align: center;
	background-color: #5A6169;
	height: 100px;
	width: 100%;
	padding: .6rem;
}
.footer_logo{
	height: 5rem;
	margin-left: 2rem;
}
.footer_logo_small{
	height: 3rem;
	margin-left: 2rem;
}

#content-tools{
    padding: 2rem 0 2rem 0;
    background-color: #5A6169;
    color: #fff;
    margin: 2rem 0 0 0;
}
#content-poster{
    background-color: #E9ECEF;
    padding: 1.5rem 0 4rem 0;
    min-height:80vh;
}